name: e_sports_app
description: A new Flutter project.
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  
  flutter_bloc: ^8.1.3   # <-- ADD THIS
  equatable: ^2.0.5
  provider: ^6.1.1
  google_fonts: ^6.0.0
  cupertino_icons: ^1.0.6

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/images/

  fonts:
    - family: regular
      fonts:
        - asset: assets/fonts/Inter_24pt-Regular.ttf
